// Specific CSS for your home-page
#container-body {
  width:100%;
  height:100%;
  background: #24C6DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header {
  position:absolute;
  top: 1rem;
  left:1rem;
  height:15vh;
}

#container-map {
  padding-top:15vh;
  width:100%;
  height:100vh;
  display:flex;
  justify-content:space-around;
  align-items:flex-start;
  svg {
    width:60%;
    height:90%;
    display:block;
  }
  #container-card {
    width:30%;
    height:90%;
    box-shadow: 0 3px 15px 5px rgba(0,0,0,0.2);
    background-color:$main-blue;
    border-radius: 15px;
  }
}

footer {
  position:absolute;
  bottom:0.5rem;
  left:1rem;
  text-align:start;
  color:rgba($light-gray,0.5);
}

//--------------------------//
//          CARD_ICON       //
//--------------------------//
.map-icon {
  // fill: $main-blue;
  &:hover {
    box-shadow:0 0 10px 10px rgba($main-blue, 0.3);
    fill: $main-blue;
    z-index:1;
    transform:translate(2px);
  }
}
